<% layout('layouts/boilerplate')%>
<%- include('../partials/adminNavbar')%>

<div class="container">

    <div class="row">
        <h1 class="text-center">Edit Page</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/leaves/<%=leaf._id%>?_method=PUT" method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="leaf[title]" value="<%=leaf.title %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="notice">Notice</label>
                    <input class="form-control" type="text" id="notice" name="leaf[notice]" value="<%=leaf.notice %>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="content">Content</label>
                    <textarea class="form-control" type="text" id="content" name="leaf[content]" cols="30" rows="3"
                        value="<%= leaf.content %>" required><%= leaf.content %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="orderKey">Order Key</label>
                    <input class="form-control" type="text" id="orderKey" name="leaf[orderKey]"
                        value="<%=leaf.orderKey %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="image">Image - May change single image</label>
                    <div class="form-control">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                    </div>
                </div>

                <div class="mb-3">
                    <% leaf.images.forEach(function(img, i) {  %>
                    <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                    <% })%>
                </div>
                <div class="mb-3 text-center">
                    <button class="btn btn-primary px-5">Update Page</button>
                    <a class="btn btn-success px-5" href="/admin">Back to Admin</a>
                </div>
            </form>
        </div>
    </div>
</div>