<% layout('layouts/boilerplate')%>

<%- include('./partials/navbar')%>
<%- include('./partials/logo')%>

<div class="logo-imgs">
    <img class="img-fluid logo-img left" src="/images/BkyaEbTw.jpeg" alt="">
    <img class="img-fluid logo-img center" src="/images/yTRl72Zw.jpeg" alt="">
    <img class="img-fluid logo-img right" src="/images/ewQlwIpA.jpeg" alt="" srcset="">
</div>

<div>
    <div class="mt-5">
        <%- include('./partials/searchBar')%>
    </div>
    <div>
        <%- include('./partials/collectionNavbar')%>
    </div>
</div>


<div class="leaf-index text-center">
    <% leaves.forEach(function(leaf){ %>
    <% if (leaf.title == "Announcements-1") { %>
    <div>
        <p><%- leaf.content %></p>
    </div>
    <% } %>
    <% }); %>
</div>


<div class="container collection-index">
    <h1 class="text-center my-5">Collections</h1>
    <div class="collection-cards">
        <% for (let collection of collections){%>
        <div class="card-group mb-5">
            <div class="card m-4" style="max-width: 14rem;">
                <%if(collection.images.length) {%>
                <div class="card-img-top">
                    <a href="/collections/<%= collection.slug %>">
                        <img class="img-fluid img-cat" alt="" src="<%=collection.images[0].url%>">
                        <% } %>
                    </a>
                </div>
                <div class="card-footer px-2">
                    <div>
                        <a class="collection-title" href="/collections/<%=collection.slug%>">
                            <h4 class="mb-0 mt-4"><%=collection.title%></h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% }%>
    </div>
</div>

<div class="leaf-index text-center">
    <div>
        <%- include('./partials/searchBarStudents')%>
    </div>
    <% leaves.forEach(function(leaf){ %>
    <% if (leaf.title == "Announcements-2") { %>
    <div>
        <p><%- leaf.content %></p>
    </div>
    <% } %>
    <% }); %>
</div>

<%- include('./partials/footer')%>