<% layout('layouts/boilerplate')%>

<%- include('../partials/navbar')%>

<div class="container">

    <%- include('../partials/searchBarStudents')%>

    <h2 class="text-center mb-5">Students' Gallery</h2>

    <div class="artwork-cards mb-3 mb-md-5">
        <% for (let student of students){%>
        <div class="card-group">
            <div class="card m-4" style="max-width: 18rem;">
                <div class="card-img-top">
                    <%if(student.images.length) {%>
                    <a href="<%=student.url%>">
                        <img class="img-fluid img-prod" alt="" src="<%=student.images[0].url%>">
                        <% } %>
                    </a>
                </div>
                <div class="card-footer px-2">
                    <a class="artwork-title" href="<%=student.url%>">
                        <h5 class="mb-0 mt-4"><%=student.name%></h5>
                    </a>
                    <div class="text-center">
                        <a class="btn btn-success" target="_blank" href="<%=student.url%>">Gallery</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <%- include('../partials/pagination')%>

</div>

<%- include('../partials/footer')%>